.section1 {
    position:relative;
    background-image: url("https://openclipart.org/image/2400px/svg_to_png/49363/blackboard.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.anime:hover {
    cursor: pointer
}

.gif {
    border-image-source: url("https://myrealdomain.com/images250_/polariod-png.png");
    border-image-repeat: round;
    border-image-slice: 60;
    border-image-width: 10px;
    border-width: 5px;
    border-style: solid;
}

.gif-container{
    display: inline-block;
    margin:1%;
}

.text {
    font-family: 'Walter Turncoat', cursive;
    color:white;
    font-size:25px;
}

.rating {
    font-family: 'Walter Turncoat', cursive;
    color:white;
    font-size:20px;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }

  @keyframes swing {
    20% {
      transform: rotate3d(0, 0, 1, 15deg);
    }
  
    40% {
      transform: rotate3d(0, 0, 1, -10deg);
    }
  
    60% {
      transform: rotate3d(0, 0, 1, 5deg);
    }
  
    80% {
      transform: rotate3d(0, 0, 1, -5deg);
    }
  
    to {
      transform: rotate3d(0, 0, 1, 0deg);
    }
  }
  
  .swing:hover {
    transform-origin: top center;
    animation-name: swing;
    cursor: pointer;
  }

  @keyframes flash {
    from,
    50%,
    to {
      opacity: 1;
    }
  
    25%,
    75% {
      opacity: 0;
    }
  }
  
  .flash:hover {
    animation-name: flash;
  }